.customers {
  background-color: getColor("page-quarternary-background-color");

  &__heading {
    color: getColor("text-primary-color");
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    background-color: getColor("page-quarternary-background-color");

    @include desktop-size {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 0 15px;
    flex-wrap: wrap;

    @include desktop-size {
      flex-wrap: nowrap;
    }
  }
  &__item {
    fill: getColor("social-links-primary-icon-color");
    background-color: getColor("page-quarternary-background-color");
    border: 1px solid getColor("social-links-primary-icon-color");
    border-radius: 4px;
    padding: 16px 52px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 210px;
    @include tablet-size {
      max-width: 226px;
      padding: 16px 60px;
    }
    @include desktop-size {
      max-width: 170px;
      padding: 16px 32px;
    }

    &:hover,
    &:focus {
      fill: getColor("object-primary-background-color");
      border: 1px solid getColor("object-primary-background-color");
      cursor: pointer;
    }
  }
}
